<ion-content [fullscreen]="true">

  <div id="container">
    <strong style="font-size: 2.5rem;" color="dark">Delivery Routes</strong>
    <p>Aplicativo de Entregas</p>
  </div>
  <div id="footer">
    <a routerLink="/login">
      <div class="flex">
        <ion-button class="ion-button">Entrar</ion-button>
      </div>
    </a>
    <a routerLink="/login/register">
      <div class="flex">
        <ion-button class="ion-button">Registrar</ion-button>
      </div>
    </a>
  </div>
  <capacitor-google-map id="map"></capacitor-google-map>
</ion-content>
