<div class="ion-padding" style="position: absolute;">
  <a routerLink="/">
    <ion-icon name="arrow-back-outline" size="large" color="dark"></ion-icon>
  </a>
</div>

<div class="ion-padding flexContainer">
  <ion-list style="display: grid;" class="gap-2 ion-padding">
    <ion-title style="text-align: center;">Login</ion-title>
    <ion-item>
      <ion-input labelPlacement="floating" label="Usuário" required="true" (input)="setValue('usuario', $event.target)" [value]="usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" labelPlacement="floating" label="Senha" (input)="setValue('senha', $event.target)" [value]="senha">
        @if(senha.length > 0) {
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        }
      </ion-input>
    </ion-item>
    <!--<div class="flex right">
      <ion-label color="primary" style="font-size: 0.9rem;">Esqueceu sua senha?</ion-label>
    </div>-->
    <div class="flex">
      <ion-button class="ion-button" (click)="entrar()">Entrar</ion-button>
    </div>
  </ion-list>
</div>